# OS and Editor files
.directory
*.swp
.vscode

# Compiled Object files
*.o
*.obj
/trash*

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Test files
test.file
test-dir/
test-trash/

# Built packages
pkg/
*.1
*.man
